/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


img {
    width: 100%;
}

/*---------- titles-sizes ----------*/
h1 {
    font-size: 24px;
  }
  
h2 {
    font-size: 18px;
  }
  
h4 {
    font-size: 16px;
  }

/*---------- Header ----------*/
header {
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

header img {
  width: 80px;
  padding-top: 10px;
}

header ul {
    display: flex;
    flex-wrap:wrap;
    gap: 50px;
    list-style: none;
    align-content: center;
}

header li :hover,
header li :focus {
    border-top: #0065FC solid 3px;
    color: #0065FC;
    padding-top: 20px;
}

.header-text h1 {
    margin-top: 25px;
    margin-bottom: 0;
  }

.header-text p {
    margin-top: 5px;
  }

  /*---------- Form ----------*/
form {
    display: flex;
    height: 49px;
    margin-top: 35px;  
}

/*---------- Îcon localisation ----------*/
.fa-location-dot {
    display: flex;
    width: 50px;
    margin: -1px;
    font-size: 17px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    justify-content: center;
    align-items: center;
    color: black;
  }

/*---------- Input search ----------*/
.search_bar {
    background-color: #0065fc;
    border-radius: 0 15px 15px 0;
    gap: 10px;
    color: white;
	border: 0;
	border-radius: 0 15px 15px 0;
	padding: 0 15px;
	width: 122px;
	cursor: pointer;
    font-weight:700;
}

form Input {
    color: black;
    font-weight:700;
    width: 150px;
    padding-left: 20px;
}

.placeholder {
    font-weight: 700;
}

.search_bar i {
	display: none;
}

/*----------info-logement------*/

.infos-logements {
	font-size: 15px;
	display: flex;
	align-items: baseline;
}

.infos-icon {
	color: #0065fc;
}

.infos-icon i {
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    padding: 5px 10px; 
}

.infos-txt {
	padding-left: 10px;
	padding-bottom: 35px;
}

/****** filters *******/

.filters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

.filters h2 {
    margin-right: 20px;
}

.filters ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none; 
    gap: 10px;
}

.filters li {
    display: flex;
    align-items: center;
    border-radius: 40px;
    gap: 10px;
    border: 2px solid #F2F2F2;
    padding: 10px 30px 10px 20px; 
    font-weight: 700;
}

.filters li:hover,
.filters li:focus {
    cursor: pointer;
    background-color: #deebff;
    color: #0065fc;  
}

.filters i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc; 
    font-size: 19px;     
}

.filters_text {
    padding: 0 20px 0 10px;
    font-size: 16px;
    font-weight: bold;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}  

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 20px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-shadow: 0 1px 1px 0;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
     display: flex;
     flex-direction:column;
     justify-content: space-between;
     width: 65%;
}

.hebergements-title h2 {
    margin-top: 0;
}

.hebergements-cards img {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards  {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements .card-content h4 {
    margin: 7px;
    margin-left: 0px;
}


.hebergements-cards a {
    width: 30%;
}

.hebergements-cards .card-content {
    padding-left: 10px;
    padding-bottom:5px;
}

.hebergements-cards .card-content h3 {
    margin-top:0;
}

.hebergements-text {
    font-weight: 700;
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** activites *******/
.activites {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.Activites-card  {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.Activites-card img  {
    width: 100%;
    height: 360px;
    border-radius: 20px 20px 0 0;
    margin: 0;
	padding: 0;
}

.Activites-card a {
    width: 30%;
    height: 400px;
}

.Activites-card .card {
    padding:0 0 5px 0;
}

.Activites-card h4 {
    margin-left: 20px;
}


footer {
    display: flex;
    justify-content:flex-start;
    gap: 15%;
    background: var(--main-bg-color);
    margin-top: 60px;
    width: 100%;

}

footer ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  
}

footer h3 {
    margin-top: 25px;
    padding-left: 20px;
}

footer li {
    margin: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1200px) {

    .hebergements {
        display: flex;
        flex-direction: column;
    }

    .hebergements-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
    }
    .hebergements-cards .card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .hebergements  a {
        flex-direction: column;
        width: 100%;
    }
    .hebergements img {
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    .hebergements .card-content h4 {
        margin: 7px;
        margin-left: 0px;
    }
}

@media (max-width: 1024px) {

    .header-text h1 {
        margin-top: 60px;
      }

    .filters {
        display: flex;
        flex-direction: column;
        align-items: unset;
    }

    .filters li {
        flex-wrap: nowrap;
        font-size: 12px
    }

    .hebergements-and-populaires {
        flex-direction: column;
        justify-content: center;

    }

    .hebergements {
        width: 100%;
        justify-content: space-between;
    }

    .hebergements-text {
        margin-top: 35px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activites {
        display:flex;
        flex-direction: column;
        
    }

    .Activites-card img  {
        height: 200px;
    }
    .Activites-card a {
        width: 98%;
        height:unset;
    }
    .Activites-card .card {
        height: 270px;
    }
    .Activites-card .card h4{
        margin: 10px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
 /* ... */
   .main-container {
        padding: 0px;
    }
 
    header {
        display:unset;
    }

    .logo {
        text-align:center;
    }
  
    header ul {
        display: flex;
        margin-top: 40px;
        gap: unset;
        padding-left: 0px;
        text-align: center;
    }
    
    header li {
       width: 50%;
    }
 

    header li :hover,
    header li :focus {
        border-bottom: #0065FC solid 3px;
        padding-bottom: 20px;
        border-top: none;
    }
   
    form {
        display:flex;
        justify-content: center;
        Padding-top: 20px;
    }
  
    form input {
        width: 50%;
        height: 50px;
        padding-left: 20px;
    }
  
    button span {
        display: none !important; 

    }

    .search_bar {
        width: unset;
    }
  
   .fa-magnifying-glass {
        display: block;
        color: white;
        font-size: 20px;
    }

    .search_bar i {
        display: contents;
    }
  
    .filters {
        padding-top: 20px;
    }
  
    .filters ul {
        display:flex;
        flex-wrap: wrap;
        gap: 10px;
    }
  
    .filters li {
        display:flex;
        flex-direction: row;
        flex-wrap:nowrap;
        border: 2px solid #F2F2F2;
        width: 35%;
        
    }
  
    .hebergements-and-populaires {
        display: flex; 
        flex-direction: column-reverse;
        gap: 20px;;
    }
  
    .populaires-title {
        display: flex;
        flex-direction: row;
        flex-wrap:nowrap;
    
    }
  
    .populaires-cards {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
    
    .populaires-cards a {
        width: 100%;
    } 
   /******** hebergements ******/

    #hebergements {
        background-color: unset;
        padding:unset
    }

    .hebergements span {
        display: none;
    }

    .hebergementss-card a {
        width: 100%;
    }
  
    .hebergements-cards {
        display:flex;
        flex-direction: column;
        padding: 0;
    }
  
    .hebergements img {
        height: 100px;
    }

   /********** activites *****/
    .activites {
        margin-bottom: 40px;
    }
  
    .Activites-card {
        display:flex;
        flex-direction: column;
        gap: 45px;
     
    }

    .Activites-card .card {
        height: 100%;
        padding-bottom :20px
    }

    .Activites-card img {
        height: 160px;
    }

    .Activites-card a {
        width: 98%;
    }

    /******* Activites*****/
    
    footer {
        flex-direction: column;
        justify-content:space-around;
        gap: 1px;
        margin-bottom: 20px;
        padding:30px;
        height: 460px;
        margin-top: unset;
    }
  
    footer section {
        margin: 0;
    }
}
/* Small devices  */
@media (max-width: 409px) {
/* ... */
     .filters li {
        width: 30% 
     }

     .filters li i {
        font-size:13px;
        gap: 1%;

    }
}

  
  




	